{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container-fluid top">
  <div class="row">
    <div class="col-md-1">
      <div class="tags">
        <h4>landscape</h4>
      </div>
    </div>
    <div class="col-md-1">
      <div class="tags">
        <h4>landscape</h4>
      </div>
    </div>
    <div class="col-md-1">
      <div class="tags">
        <h4>landscape</h4>
      </div>
    </div>
    <div class="col-md-1">
      <div class="tags">
        <h4>landscape</h4>
      </div>
    </div>
    <div class="col-md-1">
      <div class="tags">
        <h4>landscape</h4>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid header">
  <h1><strong>Unsplash clone</strong></h1>
  <h4>Beautiful, free photos.</h4>
  <h4>Gifted by the world’s most generous community of photographers. 🎁</h4>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="view">
        <img src="unsplash/brenda.jpg" class="imga" alt="">
        <div class="overlay center">
          <ul class="list-inline li_top">
            <li><a class="btn btn-default btn-sm " href="#"><span class="glyphicon glyphicon-heart"></span> 1000 </a></li>
            <li><a class="btn btn-default btn-sm " href="#"><span class="glyphicon glyphicon-plus"></span>collect</a></li>
            <!-- <p class="white-text">super light overlay</p> -->
          </ul>
          <ul class="list-inline dwn">
            <li><a class="author" href="#">David mwangi</a></li>
            <!-- <li><a href="#"></a></li> -->
            <li><a class="btn btn-default btn-sm " href="#"><span class="glyphicon glyphicon-download-alt li_btm"></span></a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img src="unsplash/brooke-lark-96398.jpg" class="imga" alt="">

    </div>
    <div class="col-md-4">
      <img src="unsplash/brenda.jpg" class="imga" alt="">

    </div>
    <div class="col-md-4">
      <img src="unsplash/brenda.jpg" class="imga" alt="">

    </div>
    <div class="col-md-4">
      <img src="unsplash/brenda.jpg" class="imga" alt="">

    </div>
  </div>
</div>
{% endblock %}
