{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container-fluid top">
  <div class="row">
    {% for tag in tags %}
    <div class="col-md-1">
      <div class="tags">
        <h4>{{tag}}</h4>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container-fluid header">
  <h1><strong>Unsplash clone</strong></h1>
  <h4>Beautiful, free photos.</h4>
  <h4>Gifted by the world’s most generous community of photographers. 🎁</h4>
</div>
<div class="container-fluid">
  <div class="row">
    {% for post_col in posts %}

    <div class="col-md-4 col">
      {% for post in post_col %}
      <!-- <a href="#">qwertyuiopoiuytrew</a> -->
      <!-- <a href="{% url 'post' post.id %}"> -->
      <div class="">

        <div class="view">
          <img src="{{post.image.url}}" class="imga" alt="">

          <div class="overlay center">
            <!-- <div class=""> -->

            <ul class="list-inline li_top">
              <li><a class="btn btn-default btn-sm " href="#"><span class="glyphicon glyphicon-heart"></span> 1000 </a></li>
              <li><a class="btn btn-default btn-sm " href="#"><span class="glyphicon glyphicon-plus"></span>collect</a></li>
            </ul>
            <ul class="list-inline dwn">
              <li><a class="author" href="#">David mwangi</a></li>
              <li><a class="btn btn-default btn-sm " href="#"><span class="glyphicon glyphicon-download-alt li_btm"></span></a></li>

            </ul>
          </div>
          <!-- </a> -->
        </div>
        <!-- </a> -->
      </div>

      {% empty %}
      <h2 class="text-centre"></h2> {% endfor %}
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}
