{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container-fluid top">
  <div class="row">

    <div class="col-md-4">
      <div class="">
        <h4><strong>{{post.user.first_name }} {{post.user.last_name}}</strong></h4>
        <h6>@david</h6>
      </div>
    </div>
    <div class="col-md-4">
      <ul class="list-inline">
        {% for tag in post.collection.all %}
        <ul class="list-inline">
          <li>{{tag}}</li>
        </ul>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4">
      <!-- <div class=""> -->
      <ul class="list-inline">
        <li><a class="btn btn-default btn-sm " href="#"><span class="glyphicon glyphicon-heart"></span> 1000 </a></li>
        <li><a class="btn btn-default btn-sm " href="#"><span class="glyphicon glyphicon-plus"></span>collect</a></li>
        <li><a href="{{post.image.url}}" class="btn btn-primary btn-sm">download now</a></li>
      </ul>
      <!-- </div> -->
    </div>

  </div>
</div>
<div class="container-fluid header">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
      <img src="{{post.image.url}}" class="imgpost img-responsive" alt="">

    </div>
    <div class="col-md-3">

    </div>
  </div>

</div>
<div class="container-fluid">
  <div class="row">
    {% for post_col in posts %}

    <div class="col-md-4 col">
      {% for post in post_col %}
      <!-- <a href="#">qwertyuiopoiuytrew</a> -->
      <div class="">

        <div class="view">
          <img src="{{post.image.url}}" class="imga" alt="">

          <div class="overlay center">
            <!-- <div class=""> -->

            <ul class="list-inline li_top">
              <li><a class="btn btn-default btn-sm " href="#"><span class="glyphicon glyphicon-heart"></span> 1000 </a></li>
              <li><a class="btn btn-default btn-sm " href="#"><span class="glyphicon glyphicon-plus"></span>collect</a></li>
            </ul>
            <div class="anchor">
              <a href="{% url 'post' post.id %}">
                fdgfdhfghfghfjh
            </a>
            </div>
            <ul class="list-inline dwn">
              <li><a class="author" href="#">David mwangi</a></li>
              <li><a class="btn btn-default btn-sm " href="#"><span class="glyphicon glyphicon-download-alt li_btm"></span></a></li>

            </ul>
          </div>
        </div>
        <!-- </a> -->
      </div>

      {% empty %}
      <h2 class="text-centre"></h2> {% endfor %}
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}
